@inherits LayoutComponentBase


    <div>
        <NavMenu />
    </div>
    
    <div>
        <div style="background-image: url(https://d3iso9mq9tb10q.cloudfront.net/magefan_blog/b/e/best-restaurants-in-san-fran_banner_1.jpg);
            background-size:cover; height:180px;">
        </div>

        <div >
            @Body
        </div>
    </div>

