    <ul class="nav nav-pills flex-column flex-sm-row">
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="Index">
                <span aria-hidden="true"></span> Categorías
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="counter">
                <span aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="fetchdata">
                <span aria-hidden="true"></span> Marketplace
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="counter">
                <span aria-hidden="true"></span> Academia Klubit
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="fetchdata">
                <span aria-hidden="true"></span> Blog
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="counter">
                <span aria-hidden="true"></span> Membresías
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="fetchdata">
                <span aria-hidden="true"></span> Bienes Raíces
            </NavLink>
        </li>
        <li class="flex-sm-fill text-sm-center">
            <NavLink class="nav-link" href="counter">
                <span aria-hidden="true"></span> Contacto
            </NavLink>
        </li>
    </ul>
